<html>
<head>
<title>
Speech Emotion Recognition
</title>
<style>

.hd {
  display: flex;
  justify-content: space-around;
  border: 5px solid black;
  border-radius: 45px;
  background-color: violet;
}

.head1 {
  align-items: center;
  font-size: 50px;
  margin-top: 48px;
  color:white;
}

.image {
  margin-top: 5px;
}
</style>

</head>
<body>
<header class="hd">
    <img class="image" src="static\speech\images\logo.jfif" height="150" width="250" alt="This is CHARITY DONOR logo.">
    <h1 class="head1"><font size = "6">SPEECH EMOTION RECOGNITION</font></h1>
</header>

<h1><center>Upload .wav file format</center></h1>
</body>
</html>
